@b add-todo {
    display: flex;
    flex-direction: row;
    gap: 1em;

    @e text {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }

    @e text-label {
    }

    @e text-value {
        flex: 1 1 auto;
    }

    @e important {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }
}
