@b app {
    display: flex;
    min-height: 100vh;
    height: 100vh;
    flex-direction: column;

    @e panel {
        border: 1px solid black;

        @m cc {
            border: 10px solid black;
        }
    }
}
