.root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    background-color: var(--persian-green);
    padding: 1em;
}

.main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.right {
    background-color: var(--saffron);
    flex: 0 0 12em;
    padding: 1em;
}

.content {
    background-color: var(--sandy-brown);
    flex: 1;
}

.TaskAdder_label {
    margin-right: 1em;
}

.TaskAdder_text {
    width: 50%;
}

.TaskAdder_element {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.TodoItem {
    margin: 1em;
    text-align: center;
}