@b todo-card {
    display: flex;
    flex-direction: column;
    flex: 1;

    @e card {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    @e props {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
}
